<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authenticator</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/layout.css">
    <%- style %>
</head>
<body>
    <%- body %>

    <script>
        <% if(flash.success && flash.success.length > 0) { %>
            new Noty({
                theme: 'sunset',
                text: '<%= flash.success %>',
                type : 'success',
                layout : 'topCenter',
                timeout : 1500,
            }).show();
        <% } %>
    <% if(flash.error && flash.error.length > 0) { %>
        new Noty({
            theme: 'sunset',
            text: '<%= flash.error %>',
            type : 'error',
            layout : 'topCenter',
            timeout : 1500,
        }).show();
    <% } %>

    <% if(flash.info && flash.info.length > 0) { %>
            new Noty({
                theme: 'sunset',
                text: '<%= flash.info %>',
                type : 'info',
                layout : 'topCenter',
                timeout : 1500,
            }).show();
        <% } %>
    </script>
</body>
</html>